<div class="my-1">
<h2 class="">add-todo</h2>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group my-3">
          <label for="title">Todo title</label>
          <input [(ngModel)]="title" type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="desc">Todo Description</label>
          <input type="text" class="form-control input-lg" id="desc" [(ngModel)]="desc" name="desc">
        </div>
        <!-- <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary btn-sm my-3">Submit</button>
      </form>
    
</div>
